<table id="gamesList">
	<tr>
		<td style="background-image:url(./images/thumbnails/left.png);" id="left" onClick="gameRedirect(this);">
			<div id="playGame">
				<div>Left Block</div>
			</div>
		</td>
		<td style="background-image:url(./images/thumbnails/square.png);" id="square" onClick="gameRedirect(this);">
			<div id="playGame">
				<div>Square Go Like</div>
			</div>
		</td>
		<td style="background-image:url(./images/thumbnails/dragon.png);" id="dragon" onClick="gameRedirect(this);">
			<div id="playGame">
				<div>The Mighty Dragon</div>
			</div>
		</td>
	</tr>
	<tr>
		<td style="background-image:url(./images/thumbnails/bounce.png);" id="bounce" onClick="gameRedirect(this);">
			<div id="playGame">
				<div>Bounce</div>
			</div>
		</td>
		<td style="background-image:url(./images/thumbnails/ember.png);" id="ember" onClick="gameRedirect(this);">
			<div id="playGame">
				<div>Emberboy</div>
			</div>
		</td>
		<td style="background-image:url(./images/thumbnails/space.png);" id="asteroid" onClick="gameRedirect(this);">
			<div id="playGame">
				<div>Space-Fighters: Asteroid Field</div>
			</div>
		</td>
	</tr>
</table>